@import './variables';

.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 70px;

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    max-width: 845px;
    margin: 0 auto;

    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
}