@import "./variables";

.composition-product {
  display: flex;
  align-items: center;
  min-height: 420px;
  background-image: url("../assets/theardPage-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0;

  @media (max-width: 960px) {
    min-height: 313px;
    background-image: url('../assets/theardPage-bg_768.png');
  }
  @media (max-width: 768px) {
    min-height: 209px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  .title {
    max-width: 600px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 15px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  ul {
    list-style: none;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      text-align: center;
    }

    li {
      margin-bottom: 7px;
    }
  }
}
