@import './variables';

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  .title {
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 85px;
    text-align: center;
    padding-bottom: 7px;

    @media (max-width: 960px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .contacts-list.marketing-contacts {
      margin-bottom: 0;
    }

    .contacts-list {
      margin-bottom: 40px;

      @media (max-width: 768px) {
        margin-bottom: 25px;
      }

      .list-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 7px;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 29px;
        }
      }

      li, a {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $dark-blue;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    @media (max-width: 960px) {
      align-items: center;
      text-align: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .form-submit-btn {
      display: flex;
      align-items: center;
      text-align: center;
      background-color: #ffad4d;
      cursor: pointer;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      padding: 8px 25px;
      border-radius: 25px;
      width: fit-content;
      
      &:hover {
        background-color: $dark-blue;
        color: $white;
      }
    }

    @media (max-width: 960px) {
      align-items: center;
      margin-bottom: 25px;

      input {
        max-width: 558px;
        width: 100%;
        margin-bottom: 32px;
      }
    }

    @media (max-width: 768px) {
      input {
        margin-bottom: 10px;
      }

      .form-submit-btn {
        margin-top: 5px;
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 6px;
    font-size: 24px;
    line-height: 29px;

    &__list {
      display: flex;

      a {
        margin-right: 12px;
      }
    }

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }
}