@import './variables';

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-image: url('../assets/lastPage-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 840px;
  padding-top: 22px;
  color: $white;
  margin-bottom: 46px;

  @media (max-width: 960px) {
    min-height: 561px;
    font-size: 24px;
    line-height: 29px;
  }

  @media (max-width: 768px) {
    min-height: 322px;
    margin-bottom: 16px;
  }

  .title {
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 85px;
    padding-bottom: 7px;
    
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 23px;
    }
  }

  .under-line {
    &::after {
      background: $white;
    }
  }

  &__info {
    max-width: 500px;

    .subtitle {
      font-weight: 900;
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 20px;
    }

    .price {
      font-size: 44px;
      text-transform: uppercase;
      color: #FFD026;
    }

    .text {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      text-align: justify;
      color: $dark-blue;
    }

    @media (max-width: 960px) {
      margin: 0 auto;

      .subtitle {
        font-size: 34px;
      }
  
      .price {
        font-size: 38px
      }
  
      .text {
        font-size: 28px;
        color: $white;
      }
    }

    @media (max-width: 768px) {
      .subtitle {
        font-size: 24px;
        line-height: 28px;
      }
  
      .price {
        font-size: 28px;
      }
  
      .text {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}