@import './variables';

.first-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../assets/firstpage-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1045px;

  @media (max-width: 960px) {
    height: calc(448px + 70px);
    padding-top: 100px;
  }

  &__info {
    position: absolute;
    left: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    max-width: 560px;

    @media (max-width: 960px) {
      height: 448px;
    }
    @media (max-width: 768px) {
      left: auto;
    }

    .title {
      font-style: italic;
    }

    .subtitle {
      font-weight: 600;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 75px;

      @media (max-width: 960px) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 35px;
      }
    }

    .more-info {
      display: flex;
      align-items: center;
      text-align: center;
      background-color: #ffad4d;
      cursor: pointer;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      padding: 8px 25px;
      border-radius: 25px;

      @media (max-width: 960px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
      
      &:hover {
        background-color: $dark-blue;
        color: $white;
      }
    }
  }
}