@import "./variables";

.second-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 663px;
  padding-top: 30px;

  background-image: url("../assets/secondPage-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 960px) {
    min-height: 990px;
    background-position: 0 100%;
    background-size: 180%;
  }

  @media (max-width: 768px) {
    min-height: 680px;
  }
  @media (max-width: 540px) {
    min-height: 490px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 65px;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 15px;
      max-width: 550px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
      max-width: 320px;
    }
  }

  .content {
    display: flex;
    justify-content: flex-end;
    margin-left: 40%;

    @media (max-width: 960px) {
      margin: 0;
      justify-content: center;
    }

    table {
      border-collapse: collapse;
      font-style: italic;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;

      @media (max-width: 960px) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 13px;
      }

      tr {
        width: 100%;
        max-width: 316px;
      }

      td {
        position: relative;
        padding: 10px 20px;

        @media (max-width: 960px) {
          padding: 10px 0;
        }

        @media (max-width: 768px) {
          padding: 5px 0;
        }
      }

      td.custom-right-border {
        &::after {
          content: "";
          position: absolute;
          right: -1.5px;
          display: block;
          height: 80%;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          background: #c8c8c8;
        }
      }

      tr:nth-child(odd) {
        background-color: $orange;
        color: $white;
      }
    }
  }
}
