@import './variables';

.second-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 663px;
  padding-top: 30px;
  
  background-image: url('../assets/secondPage-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 65px;
  }

  .content {
    display: flex;
    justify-content: flex-end;
    margin-left: 40%;

    table {
      border-collapse: collapse;
      font-style: italic;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;

      tr {
        width: 100%;
        max-width: 316px;
      }

      td {
        position: relative;
        padding: 10px 20px;
      }

      td.custom-right-border {

        &::after {
          content: '';
          position: absolute;
          right: -1.5px;
          display: block;
          height: 80%;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          background: #C8C8C8;
        }
      }

      tr:nth-child(odd) {
        background-color: $orange;
        color: $white;
      }
    }
  }
}