@import './variables';

.under-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    max-width: 372px;
    left: 50%;
    width: 100%;
    height: 3px;
    background: $dark-blue;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    &::after {
      max-width: 199px;
    }
  }
}